.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.badgeContainer {
    position: relative;
}

.badgeWrapper {
    position: absolute;
    top: 10px;
    right: 10px;
}

.badgeItem {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 2px;
}

.badgeItem:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.dark-theme {
    color: #fff;
    background-color: #323131FF;
}

.light-theme {
    color: #323131FF;
    background-color: #fff;
}


