
.dark-theme {
    color: #161515;
}

.light-theme {
    color: #ffffff;
}

.dark-theme:hover {
    color: #ffffff;
}

.light-theme:hover {
    color: #161515;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}