.overflowWrap {
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    width: 150px;
}

.dark-theme {
    color: #fff;
    background-color: #323131FF;
}

.light-theme {
    color: #323131FF;
    background-color: #fff;
}