.dark-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dark-theme ul li a {
    color: #ffffff;
}

.light-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.light-theme ul li a {
    color: #161515;;
}
